* {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: url("../public/2325567.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: whitesmoke;
  width: 50%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
  padding: 2%;
  margin-left: -15%;
  box-sizing: 10px 10px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Tangerine", serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #f59c9c;
  border: 1px solid rgb(53, 13, 13);
  margin-left: -30%;
  margin-top: 15%;
}
.button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
/* 
.button:hover span {
  animation: strom 0.7s ease-in-out both;
  animation-delay: 0.06s;
} */
